body{
    background-color: green;
}

.conte_padre{
    border:2px solid red;
    width:100%;
    height:900px;
    margin:100px auto;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;


}
.hijo{
    width:25%;
    border:2px solid skyblue;
    height:300px;
    padding: 15px 10px;
}
.a{
    flex-grow:2;
    flex-shrink:1;
}


.btn{
  
    display:block;
    margin: 20px auto;;
    padding: 5px 10px;
}
.imagen-cuadro{
    width:200px;
    height:200px;
    display:block;
    margin: 5px auto;

}
.prueba{
    display: block;
    font-size: 16px;
    color: #fff;
    background-color: #26beb9;
    padding: 8px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}
p{
    font-size: 16px;
    color: #fff;
    text-align:center;
}
