*{
    margin:0;
    padding:0;
    text-decoration: none; 
 
}
body{
    background-color: bisque;
    
 
}


table{
    border:2px solid green;
    border-collapse:collapse;
    margin: 20px 15px;
    
 
}

th, td{
    border:1px solid green;
}

.tablita{
    margin: 0 auto;
    text-align: center;
}
.centrar{
   text-align:center;
   margin: 10px auto;
}


.cuadrito{
  
    background: pink;
    text-align: center;
    width:460px;
    height: 520px;
    margin: 0 auto 10px auto;
}
.seccion_arriba{
    overflow: hidden;
    background:yellow;
        
}
.seccion_abajo{
    overflow: hidden;
    background: aqua;
        
}
#imagen{
    width:350px;
    height:250px;
    margin: 5% 12%;
    
}
.nav_imagen{
    text-align: center;
}
.nav_imagen img{
    width:80px;
    height:50px;
    border:2px solid green;

}
.nav_imagen img:hover{
    
    border-color:pink;
    
}

.seccion_abajo{
    padding:25px;
    
}
.name{
    text-transform: uppercase;
    font-size: 25px;
    color:black;
    text-align: center;
    
}

.details{
    
    font-size: 15px;
    opacity: 0.6;
    
}
.btn{
    
        display: block;
        font-size: 16px;
        color: black;
        background-color: greenyellow;
        padding: 8px 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        text-align:center;
        margin-top: 10px;
        transition: 0.3s;

    }
.btn:hover{
    
        background: pink;
        
        
    }









