.padre {
    background-color: lightblue ;
    margin: 0 auto ;
    text-align: justify;
    width: 500px;
    padding: 0 5px 5px 5px;
}

img {
    display: block;
    margin: 0 auto;
}

.hijo {
    margin: 10px auto;
    padding: 10px;
}

label {
    margin: .5em 0 0 0;
}

.inputt {
    width: 100%;
    border-radius: 5px;
}

.boton {
    display: block;
    margin: 0 auto;
}
