@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-attachment: fixed;
    background-image: url(../image/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    min-width: 320px;
    position: relative;
    margin: auto;
}
.menu-fixed{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
#contenedor-header{
    width: 100%;
    min-height: 70px;
    background-color: #00ad9d;
    display: table´;
}

/******  header *******/
#contenedor-header{
    width: 100%;
    min-height: 70px;
    background-color: #00ad9d;
    display: table´;
}
.c-logo{
    width: 30%;
    min-height: 70px;
    float: left;
}
.c-logo img{
    width: 130px;
    position: relative;
    margin: auto;
    display: block;
}
.c-menu{
    width: 70%;
    min-height: 70px;
    float: right;
}
#btn-menu{
    display: none;
}
header label{
    float: right;
    margin: 15px 10px;
    padding: 10px;
    color: #FFF;
    display: none;
}
.menu ul{
    display: inline-flex;
    float: right;
    list-style: none;
}
.menu ul ul{
    display: none;
}
.menu a{
    display: block;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 15px;
    font-weight: 400;
    color: #FFF;
    text-decoration: none;
}
.menu a:hover{
    background-color: #6900ad;
}
#main-footer{
    width: 100%;
    min-height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #000;
    position: relative;
}
.contenedot-menu{
    width: 100%;
    min-height: 50px;
    text-align: center;
}
.main ul{
    display: inline-flex;
}
.main ul ul{
    display: none;
}
.main a{
    display: block;
    color: #FFF;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.contenedot-audio{
    width: 100%;
    min-height: 50px;
    text-align: center;
}
.copy{
    width: 100%;
    min-height: 50px;
}
.copy a{
    display: block;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}
.copy img{
    width: 150px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    display: block;
}
@media screen and (max-width: 900px){
    header label{
        display: block;
        font-size: 20px;
    }
    .menu{
        position: absolute;
        width: 100%;
        left: 0;
        top: 70px;
        transition: all .5s ease;
        transform: translateX(-100%);
        z-index: 10000;
    }
    .menu ul{
        display: block;
        float: none;
        background-color: #FFF;
    }
    .menu a{
        margin-top: 0;
        color: #000;
        border-bottom: solid 1px #00ad9d;
    }
    #btn-menu:checked ~ .menu{
		transform: translateX(0%);
	}
    .main ul{
        display: block;
    }
}
